.form_div {
    color:black;
	padding: 30px 30px;
	background: Azure;
    margin-left:27%;
    margin-top:100px;
    width:40%;
    border-radius:10px;
    box-shadow:3px 3px 3px 3px rgba(0,0,0,.2);
}
a {
	color:green;
	text-decoration: none;
}
#f { 
	padding:8px;
}
label {
	font-size:17px;
	
}
input {
	margin-top:3px;
	border-radius:5px;
	width:97%;
	height:33px;
	padding-left:5px;
	color:green;

}
.b {
    color:white;
	background:MediumSeaGreen;
	padding:5px 5px;
	height:30px;
	width: 47%;
    font-size:16px;
    text-decoration: none;
    border-radius:10px;

}